.contact {
  border: 2px solid black;
  border-radius: 5px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-width: 350px;
}

.contactInfo {
  margin-right: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
  width: 100px;
  height: 40px;
}
